body, h1, h2, h3, p, form, label, input, select, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: #F5F0BB; 
  color: #333; 
  line-height: 1.6;
  padding: 40px;
}

header {
  padding: 0;
  text-align: center;
}

header img {
  height: 200px;
  border: none;
  box-shadow: none;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #73A9AD; 
}

h2, h3 {
  color: #B3C890; 
}

p {
  margin-bottom: 20px;
  color: #333;
  line-height: 1.8;
}

form {
  margin-bottom: 30px;
  background-color: #DBDFAA; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 15px;
  border: 1px solid #B3C890; 
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

input[type="submit"] {
  background-color: #73A9AD;
  color: #fff; 
  font-size: 16px;
  padding: 15px 25px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  margin-top: 20px;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}

h3 {
  margin-top: 30px;
}

img {
  border: 2px solid #ccc; 
  border-radius: 10px; 
  cursor: pointer;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1); 
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
